* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#admin_page_logo {
  display: flex;
  align-items: center;
}

#admin_page_logo>span {
  font-size: 30px;
  color: white;
}

.admin_container {
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#info_wrapper {
  width: 100%;
}

#login {
  width: 100%;
}

#login>form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#login>h1 {
  text-align: center;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

#admin_nav {
  background-color: #0046be;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  padding: 5px 30px;
  position: sticky;
  top: 0px;
}

.dashboard_container {
  width: 90%;
  display: none;
  justify-content: space-between;
  margin: auto;
}

.dashboard_container>div:nth-child(1) {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.dashboard_container>div:nth-child(1)>form {
  display: flex;
  flex-direction: column;

}

.dashboard_container>div:nth-child(1)>form>input,
input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #565758;
  border-radius: 4px;
  outline: none;
}

.dashboard_container>div:nth-child(1)>form>h2 {
  border-bottom: 1px solid grey;
  margin: 20px 0;
}

.dashboard_container>div:nth-child(1)>form>input[type='submit'],
input[type='submit'] {
  margin-top: 10px;
  background: #0046be;
  color: white;
  border-radius: 4px;
}

input[type='submit']:hover,
button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.dashboard_container>div:nth-child(1)>form>label {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
}

/* right - product section */

.dashboard_container>div:nth-child(2) {
  height: 80vh;
  overflow-y: scroll;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.products {
  display: flex;
  height: 300px;
  margin: 30px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.products>div:nth-child(1) {
  width: 20%;
}

.products>div:nth-child(1)>img {
  width: 100%;
  height: 100%;
}

.products>div:nth-child(2) {
  padding-left: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.remove {
  width: 20%;

}