* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}



#dashboard,
#product_form {
  display: none;
}

#admin_page_logo {
  display: flex;
  align-items: center;
}

#admin_page_logo>span {
  font-size: 30px;
  color: white;
}

.admin_container {
  width: 90%;
  margin: auto;
  padding: 8% 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}

label {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}

#login {
  width: 300px;
  height: 200px;
  /* height: 100vh;
  width: 100vh; */
  /* border: 1px solid red; */
  padding: 5% 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}

#login>form {
  display: grid;
  /* border: 1px solid blue; */
  justify-items: center;
  /* gap: 1%; */
  height: 100%;
}

#username {
  width: 200px;
  /* margin: auto; */
  line-height: 16.9px;
  font-size: 13px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  border: none;
}

#password {
  width: 200px;
  /* margin: auto; */
  line-height: 16.9px;
  font-size: 13px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  border: none;
}

.submit {
  width: 200px;
  margin: auto;
  line-height: 16.9px;
  font-size: 13px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background: #ffe000;
  padding: 8px;
  border: none;
}


#admin_nav {
  background-color: #0046be;
  width: 100%;
  margin: auto;
  padding: 5px 30px;
  position: fixed;
  z-index: 2;
}


/* #products_wrapper {
  border: 1px solid red;
} */

.products {
  /* border: 1px solid blue; */
  margin: 3% 5%;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  column-gap: 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#products_wrapper .remove {
  line-height: 16.9px;
  font-size: 13px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background: #ffe000;
  padding: 8px;
  border: none;
  margin: 2% 0;
}

#dashboard {
  width: 300%;
  /* display: flex; */
  gap: 50%;
  position: fixed;
}