* {
       margin: 0;
       padding: 0;
       font-family: "Roboto", sans-serif;
}

.top_nav_container {
       padding: 15px;
}

/* main container */
#cart_main_container {
       display: none;
       width: 90%;
       margin: 20px auto;
       justify-content: space-between;
}

/* left container */
#cart_main_container>:nth-child(1) {
       width: 70%;
       /* background-color: #F0F2F4; */
       display: flex;
       flex-direction: column;
       gap: 5px;
}

#cart_main_container>:nth-child(1)>:nth-child(2) {
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
}

#cart_main_container>:nth-child(1)>:nth-child(2) span {
       font-size: 13px;
}

#cart_main_container>:nth-child(1)>:nth-child(2)>:nth-child(3) {
       border-color: #0133bc;
       border-radius: 4px;
       background-color: white;
       width: 20%;
       padding: 8px;
       color: #0133bc;
       font-weight: 500;
}

#cart_main_container>:nth-child(1)>:nth-child(2)>:nth-child(3):hover {
       background-color: #001E73;
       color: white;
}

#cart_main_container>:nth-child(1)>:nth-child(3) {
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.items {
       display: flex;
       justify-content: space-evenly;
       border-bottom: 1px solid grey;
       padding: 15px 0px;
       align-items: center;
}

.item_detail {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       /* width: 60%; */
}

.item_detail_image {
       /* width: 30%; */
}

.item_detail img {
       /* width: 10%; */
       width: 100px;
       /* height: 10%; */
       height: 200px;
}

.item_availability {
       width: 25%;
       margin: auto;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2) {
       /* width: 80%; */
       display: flex;
       flex-direction: column;
       align-content: flex-end;
}

.item_action_quantity {
       width: 70%;
       padding: 5px;
       border-radius: 4px;
}

.item_action_remove {
       border: none;
       color: #0133bc;
       background-color: transparent;

}

.add_ons_included_free {
       display: flex;
       justify-content: right;
       justify-content: space-around;
       align-items: center;
}

.add_ons_included_free img {
       width: 3%;
       height: 3%;
}

.add_ons_included_free p {
       text-align: left;
       width: 60%;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(1) {
       border-bottom: 1px solid grey;
       padding-bottom: 15px;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(1) button {
       border: none;
       background-color: transparent;
       color: #0133bc;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(2) {
       border-bottom: 1px solid grey;
       padding-bottom: 15px;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(2)>:nth-child(2) {
       display: flex;
       justify-content: space-around;
       align-items: center;
       margin: auto;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(2)>:nth-child(2) p {
       margin: auto;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(2) button {
       background-color: white;
       border-color: #0133bc;
       color: #0133bc;
       border-radius: 4px;
       width: 100%;
       padding: 5px;
       font-weight: 500;
}

#add_ons_protection_plans_btn:hover {
       background-color: #0133bc;
       color: white;
}

#cart_main_container>:nth-child(1)>:nth-child(3)>:nth-child(2)>:nth-child(2)>:nth-child(2) img {
       width: 15%;
}

.your_cart_container_box {
       padding: 20px;
}

/* right container */

#cart_main_container>:nth-child(2) {
       width: 25%;
}


#cart_main_container>:nth-child(2)>:nth-child(1) {
       text-align: center;
       border-bottom: 1px solid grey;
       padding: 5px 0px;
}

.summary_line {
       display: flex;
       justify-content: space-between;
       padding: 5px 7px;
}

#price_summary_line4 {
       border-bottom: 1px solid grey;
}

#total_price {
       border-bottom: 1px solid grey;
}

#checkout_btn {
       display: flex;
       flex-direction: column;
       gap: 10px;
       margin: 2%;
}

#checkout a {
       color: black;
       text-decoration: none;
}

#paypal_checkout {
       background-color: black;
       color: white;
}

#finance_banner {
       display: flex;
       justify-content: space-between;
       margin: 2%;
}

#finance_banner>:nth-child(1) {
       width: 25%;
}

#finance_banner>:nth-child(2) {
       width: 65%;
}

#finance_banner img {
       width: 100%;
}

#bought_together {
       /* border: 1px solid red; */
       width: 100%;
       margin: auto;
       /* padding: 2%; */
}

@media screen and (max-width: 720px) {
       #cart_main_container {
              flex-direction: column;
       }

       #cart_main_container>:nth-child(1) {
              width: 100%;
       }

       #cart_main_container>:nth-child(2) {
              width: 100%;
       }

       #bought_together {
              display: none;
       }
}