.topSection_outerContainer{
    background: linear-gradient(135deg, #00246d -69%, #0046be 11%, #0a6dfc 56%, #0046be 89%, #00246d 200%);
    z-index: -1;
}
.topSection_banner{
    width: 82%;
    position: absolute;
    left: 8%;
    margin: auto;
    height: 200px;
    background-image: url('../resources/banners/top_banner_bg.png');
    background-size: contain;
    /* z-index: 0; */
    background-repeat: no-repeat;
}

.topSection_innerContainer{
width: 100%;
}

/*! ------ Headings */
.topSection_heading{
    display: flex;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 2px solid red; */
}

 /* top section first column */
.topSection_heading>div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 55px; */
    /* border: 2px solid white; */
}
.topSection_heading>div:nth-child(1)>h2{
color: white;
font-size: 72px;
font-weight: 900;
line-height: 57px;
}
.topSection_heading>div:nth-child(1)>h3{
color: #fff200;
font-size: 40px;
font-weight: 900;
line-height: 57px;
}

.topSection_heading>div:nth-child(2)>h3{
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
}
.topSection_heading>div:nth-child(2)>h6{
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    margin: 8px 0;
}
.topSection_heading>div:nth-child(2)>h6>span{
    color: #fff200;
}
.topSection_heading>div:nth-child(2)>button{
    display: inline-block;
    width: 25%;
}
.topSection_heading>div:nth-child(2){
    width: 35%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

/* !--------- top seciton cards */
.topSection_cards_outerContainer{
    width: 100%;
    margin: 32px 0;
}
.topSection_cards_outerContainer>h6{
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}
.topSection_cards_innerContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding-bottom: 50px;
}
.topSection_card_container{
    width: 100%;
    /* background: #000; */
    margin-bottom: 32px;
    font-size: 13px;
    text-align: center;
}
.topSection_card_imgBox{
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #598bf7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 155px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.topSection_card_imgBox>img{
    width: 70%;
    height: 50%;
}
.topSection_card_textBox{
    color: #fff200;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
    padding-top: 50px;
    letter-spacing: 0.7px;
}
