
header{
       margin-bottom: 1px;
}
/* top container */
.top_nav_container {
       width: 100%;
       background-color: #0046BE;
       color: white;
       position: fixed;
       top: 0px;
       z-index: 2;
}

.top_nav {
       width: 95%;
       margin: auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 5vh;
       padding: 15px;
       z-index: 2;
       /* border: 1px solid red; */

}
.top_nav>div:nth-child(1){
       width: 60%;
       display: flex;
       align-items: center;
}
.top_nav>div:nth-child(1)>div:nth-child(1){
       margin-right: 50px;
}
.top_nav>div:nth-child(1)>div:nth-child(2){
       margin-right: 50px;
}
.top_nav>div:nth-child(1)>div:nth-child(3){
       width: 100%;

}
.top_nav>div:nth-child(2){
       width: 40%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
}
.top_nav>div:nth-child(2)>div:nth-child(1){
       margin-right: 50px;
}
.top_nav>div:nth-child(2)>div:nth-child(1)>p{
       padding-left: 10px;
}
.top_nav>div:nth-child(2)>div:nth-child(2){
       width: 13%;
       display: flex;
       justify-content: space-between;
       /* background: #000; */
}
.top_nav p {
       font-size: 20px;
}

.top_nav_logo {
       /* border: 1px solid red; */
       width: 8%;
       /* height: 100%; */
       display: flex;
       align-items: center;
}

.top_nav_logo img {
       width: 80px;
}

.top_nav_menu {
       display: flex;
       gap: 2px;
       /* border: 1px solid red; */
       width: 10%;
       height: 100%;
       display: flex;
       align-items: center;
}

.top_nav_menu>svg {
       height: 80px;
       width: 30px;
}

.top_nav_input {
       /* border: 1px solid red; */
       /* width: 30%; */
       border-radius: 4px;
       /* height: 50%; */
       display: flex;
       align-items: center;
       background-color: white;
       padding: 3px;
}

.top_nav_input>input {
       width: 90%;
       padding: 10px 0px 10px 10px;
       border-radius: 4px;
       border: none;
}

.top_nav_input>input:focus {
       outline: none;
}

.top_nav_input>svg {
       /* border: 1px solid red; */
       color: grey;
       width: 15px;
       height: 15px;
       margin-left: 17px;
       color: #0046BE;
}

.top_nav_store {
       width: 20%;
       text-align: left;
       /* border: 1px solid red; */
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
}

.top_nav_store>svg {
       width: 30px;
       height: 25px;
       color: white;
}

.top_nav_cart {
       width: 10%;
       /* border: 1px solid red; */
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
}

.top_nav_cart>p {
       /* margin: 20vh; */
       text-align: right;
}

.top_nav_cart>svg {
       width: 30px;
       height: 25px;
}

.top_nav div :hover {
       cursor: pointer;
}

.top_nav a {
       text-decoration: none;
       color: white;
}

/* bottom container */

.bottom_nav_container {
       margin-top: 66px;
       background-color: #0046BE;
       color: white;
       border-top: 1px solid #b4d0ff;
       z-index: 1;
       padding: 10px 0;
}

.bottom_nav {
       width: 95%;
       height: 4vh;
       margin: auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.bottom_nav a {
       text-decoration: none;
       color: white;
       font-size: 13px;
       z-index: 1;
}

.bottom_nav a:hover {
       text-decoration: underline white;
}

.bottom_nav_left {
       width: 50%;
       display: flex;
       justify-content: space-between;
       /* border: 1px solid red; */
}

.bottom_nav_right {
       /* border: 1px solid red; */
       width: 30%;
       display: flex;
       justify-content: space-between;
}

/* account dropdown menu */
.dropdown {
       display: inline-block;
       position: relative;
}

.dropdown-options {
       display: none;
       position: absolute;
       overflow: auto;
       width: 180px;
       background-color: #F0F2F4;
       border-radius: 4px;
       z-index: 1;
}

.dropdown:hover .dropdown-options {
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 20px;
       padding: 15px;
       z-index: 1;
}

.dropdown:hover .dropdown-options button {
       width: 100%;
       margin: auto;
       padding: 10px 0px;
       background-color: white;
       border: 1px solid #0046BE;
       border-radius: 4px;
       font-size: 15px;
       color: #0046BE;
}

.dropdown:hover .dropdown-options button:hover {
       background-color: #0046BE;
       color: white;
}

/* -- media query -- */

@media screen and (max-width: 940px){
 
     .bottom_nav_container{
       display: none;
     }
} 
@media screen and (max-width: 720px){
  
     .top_nav_logo img{
       width: 60px
     }
} 
@media screen and (max-width: 520px){

     .top_nav_logo img{
       width: 60px
     }
     .top_nav>div:nth-child(1){
       width: 100%;
     }
     .top_nav>div:nth-child(2){
       display: none;
     }
} 