#container{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    display:flex;
    padding: 5px;
}
#whole_prod{
    width:75% ;
    margin: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
    border: 1px solid black;
}
#item{
    width: 100%;
    height: 90%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    color:#040c13;
    font-size:13px;
    /* justify-content:space-between; */
    line-height:15.6px;
    text-align:left;
}
#menu-sec{
    width:20%;
    height: 80%;
    border: 1px solid black;
}
#prod_img{
    width: 25%;
    /* height: auto; */
    /* margin:0px 2px 30px 2px; */
    border: 1px solid black;
    color:#001e73;
font-family:Human BBY Digital;
font-size:13px;
line-height:15.6px;
padding:0px 16px 0px 0px;
text-align:left;
    /* align-content: center; */
}
#prod_img>img{
    color: #001e73;
    font-size:13px;
    line-height:15.6px;
    margin:0px 70px;
    text-align:left;
}
#prod_info{
    width: 40%;
    height: 100%; 
    /* margin:0px 2px 30px 2px; */
    border: 1px solid black;
    color:#001e73;
font-family:Human BBY Digital;
font-size:15px;
line-height:15.6px;
/* padding:0px 16px 0px 0px; */
text-align:left;
}
#spnson{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border: 1px solid black;
color:#55555a;
font-size:18px;
line-height:15.6px;
margin:0px 0px 8px;
text-align:left;
}
#prod_name{
    width: 100%;
    height: auto;
    border: 1px solid black;
    color:#001e73;
display:inline;
margin-top: 10px;
font-family:Human BBY Digital;
font-size:18px;
line-height:17px;
text-align:left;
}
#model_det{
    width: 100%;
    height: auto;
    border: 1px solid black;
    color:#040c13;
    margin-top: 10px;
display:flex;
flex-direction:column;
font-size:18px;
line-height:15.6px;
text-align:left;
}
#model_sku{
    width: 100%;
    height: auto;
    border: 1px solid black;
color:#040c13;
display:flex;
margin-top: 10px;
/* justify-content: space-between; */
flex-wrap:wrap;
font-size:11px;
line-height:13.2px;
margin:0px 0px 8px;
text-align:left;
}
.mdl{
    border: 1px solid black;
    color:#040c13;
display:inline;
margin-top: 10px;
font-size:16px;
font-weight:600;
line-height:13.2px;
padding:0px 10px 0px 30px;
text-align:left;
}
.mdl_val{
border: 1px solid black;
color:#040c13;
display:inline;
font-size:14px;
margin-top: 10px;
line-height:13.2px;
text-align:left;
padding:0px 10px 0px 10px;
}
.checked{
    color: orange;
}
.fa-star-half-stroke{
    color:black;
}
#avail_det{
    width: 100%;
    height: 170px;
    border: 1px solid black;
    /* display: flex;  */
    margin-top: 10px;
}
#avail{
    font-size:18px;
line-height:15.6px;
text-align:left;
display: flex; 
 flex-direction: column;
 margin-top: 10px;
}
#avail>strong{
    color:#bb0628;
display:inline;
font-size:15px;
font-weight:600;
line-height:15.6px;
text-align:left;
}
#pick_up{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
    /* flex-direction: column; */
}
 #pick_icon{
    width: 10%;
    height: 30px;
    border: 1px solid black;
    /* margin-top: 10px; */
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction:row; */
}
#pick_icon>img{
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
}
  
#pick_desc{
    width: 90%;
    height: 90%; 
    border: 1px solid black;
    color:#040c13;
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
font-family:Human BBY Digital;
font-size:15px;
line-height:15.6px;
text-align:left;
margin-top: 0px;
}
 
#pick_desc>span>strong{
    color:#040c13;
    margin-top: 0px;
display:inline;
font-size:15px;
font-weight:600;
line-height:15.6px;
text-align:left; 
 }
 #pick_loc{
    width: 100%;
    height: 20px;
    border: 1px solid black;
    color:#0457c8;
    margin-top: 5px;
font-size:15px;
line-height:13.2px;
text-align:left;
 }
 #pick_loc>span{
    align-items:flex-start;
color:#001e73;
display:inline-block;
font-family:Human BBY Digital;
font-size:15px;
line-height:13.2px;
margin-top: 10px;
 }
 #pick_ship{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
    /* flex-direction: column; */
}
 #ship_icon{
    width: 10%;
    height: 30px;
    border: 1px solid black;
    /* margin-top: 10px; */
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction:row; */
}
#ship_icon>img{
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
}
  
#ship_desc{
    width: 90%;
    height: 90%; 
    border: 1px solid black;
    color:#040c13;
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
font-family:Human BBY Digital;
font-size:15px;
line-height:15.6px;
text-align:left;
margin-top: 0px;
}
 
#ship_desc>span>strong{
    color:#040c13;
    margin-top: 0px;
display:inline;
font-size:15px;
font-weight:600;
line-height:15.6px;
text-align:left; 
 }

 #ship_loc{
    width: 100%;
    height: 20px;
    border: 1px solid black;
    color:#0457c8;
    display: flex;
    margin-top: 0px;
font-size:15px;
line-height:13.2px;
text-align:left;
 }
 #ship_loc>span{
    align-items:flex-start;
color:#001e73;
display:inline-block;
font-family:Human BBY Digital;
font-size:15px;
line-height:13.2px;
margin-top: 0px;
 }
 #ship_desc>div{
    width: 100%;
    height: 20px;
    border: 1px solid black;
    margin-top: 5px;
 }
 #comp_sv{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    /* margin-top: 5px; */
 }
 #comp{
    width:30%;
    height: 40px;
    display: flex;
    border: 1px solid black;
    /* margin-top: 5px; */
    /* text-align: center; */
 }
 #sv{
    width: 30%;
    height: 40px;
    display: flex;
    border: 1px solid black;
    /* margin-top: 5px; */
 }
 #comp_icon{
    width: 15%;
    height: 20px;
    display: flex;
    margin-top: 5px;
    margin: auto;
    border: 1px solid black;
 }
 #comp_icon>img{
    width: 100%;
 }
 #comp_val{
    width: 50%;
    height: 20px;
    display: flex;
    margin: auto;
    font-size: 18px;
    border: 1px solid black;
 }
 #sv_icon{
    width: 15%;
    height: 20px;
    display: flex;
    margin-top: 5px;
    margin: auto;
    border: 1px solid black;
 }
 #sv_icon>img{
    width: 100%;
 }
 #save_val{
    width: 50%;
    height: 20px;
    display: flex;
    margin: auto;
    font-size: 18px;
    border: 1px solid black;
 }
 #prod_price{
    width: 35%;
    height: 200px;
    /* margin:0px 2px 30px 2px; */
    border: 1px solid black;
    color:#040c13;
font-family:Human BBY Digital;
font-size:13px;
line-height:15.6px;
padding:0px 0px 0px 16px;
text-align:left;
 }
 #prev_pr{ 
width: 100%;
height: 50px;
border: 1px solid black;
 color:#040c13;
font-size:13px;
line-height:15.6px;
text-align:left;
margin-top: 5px;
 }
 #current_pr{
    width: 100%;
height: 50px;
border: 1px solid black;
    color:#1d252c;
font-size:25px;
font-weight:500;
line-height:29px;
text-align:left;
margin-top:5px ;
 }
 #prev_pr>span{
    color:#1d252c;
display:inline;
font-size:30px;
font-weight:600;
line-height:24px;
text-decoration: line-through;
text-align:left;
 }
 #prev_pr>span+span{
 color:#1d252c;
display:inline;
font-size:30px;
font-weight:600;
line-height:20px;
text-decoration: line-through;
text-align:left;
 }
 #current_pr>span{
    color:#1d252c;
display:inline;
font-size:30px;
font-weight:600;
line-height:24px;
text-align:left;
 }
 #current_pr>span+span{
 color:#1d252c;
display:inline;
font-size:30px;
font-weight:600;
line-height:20px;
text-align:left;
 }
 #disc{
    width:auto;
height: auto;
border: 1px solid black;
    background-color:#bb0628;
color:#ffffff;
display:inline-block;
font-size:20px;
font-weight:600;
letter-spacing:-0.17px;
line-height:16px;
margin:0px 4px 0px 0px;
padding:5px 10px;
text-align:left;
 }
 #add_to{
    align-items:center;
background-color:#fff200;
border-radius:1px;
color:#202121;
display:inline-flex;
font-family:Human BBY Digital;
font-size:18px;
font-weight:600;
gap:4px;
justify-content:center;
line-height:15.6px;
padding: 10px 10px;
text-align:left;
border: 0px;
 }
 #add_to>img{
    width: 5%;
 }