@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 65%;
    margin: auto;
    padding: 0 10px;
}

button {
    transition-duration: 300ms;
    cursor: pointer;
}

/* yellow button */
.yl_btn {
    line-height: 16.9px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    background: #ffe000;
    padding: 8px;
    border: none;
    text-align: center;
}

.yl_btn:hover {
    background: #ffea4a;
}

/* !---------| Media Query |----------------------- */


@media screen and (max-width: 992px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}